<!DOCTYPE html>
<html lang="en-us">
<a rel="me" href="https://mastodon.social/@sarambsimon">Mastodon</a>

  {% include head.html %}

  <body class="theme-base-0c">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          {% if page.title != "home" %}
            <h3 class="masthead-title">
              <a href="{{ site.baseurl }}/" title="home">{{ site.title }}</a>
            </h3>
          {% endif %}
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <!-- <label for="sidebar-checkbox" class="sidebar-toggle"></label> -->

    <script src='{{ site.baseurl }}/public/js/script.js'></script>
  </body>
</html>
